.container{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    color: black;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: brown;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.conteudo {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    padding: 4px 12px;
}

.linha {
    display: flex;
    flex-direction: row;
    text-align: left;
    height: fit-content;
}

.informacoes {
    padding: 4px 10px 4px 6px;
}

.botoes{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 48px;
}

.botao {
    margin: auto;
}

.nome {
    color: darkorange;
    font-weight: 400;
}

.descricao {
    font-style: oblique;
    font-size: 12px;
}

.valor {
    font-size: 14px;
    color: #001e00;
}

.input { 
    text-align: right;
    margin-left: 8px;
    height: 45px;
    width: 48px;
}

.subTotal {
    text-align: right;
    color: blueviolet;
}

.label {
    margin: auto;
    font-size: 12px;
}

.lixeira {
    text-align: right;
    margin-right: 24px;
}   

.linhaTotal {
    display: flex;
    justify-content: right;
    padding: 0px 12px;
    font-weight: 700;
}

.totalPedido {
    margin-left: 14px;
    color: green;
}

.linhaBotoes {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 14px;
    margin-left: 36px;
    margin-bottom: 14px;
}

.botaoFazerPedido {
    padding: 10px;
    background-color: green;
    color: whitesmoke;
    border-color: whitesmoke;
}

.botaoFecharCarrinho {
    background-color: darkred;
    color: whitesmoke;
    border-color: whitesmoke;
}