.mainContainer {
    position: relative;
    text-align: center;
    height: 100%;
}

.imagemFundo {
    z-index: -1;
    height: 250px;
    width: 100%;
    background-size: cover;
    opacity: 0.2;
}
